# Secrets / API keys (never commit)
alphagenome_api_key.txt
*.key

# macOS
.DS_Store

# Local environment / package caches
.conda_pkgs/
.r_libs/
.virtual_documents/
.ipynb_checkpoints/

# Notebook-generated result folders
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5/*
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5_intron6/
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5_intron47/
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A4/
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A3/
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5/
notebooks/01_alphagenome_analysis/alphagenome_intron6_cohort/
notebooks/01_alphagenome_analysis/alphagenome_intron6_genomAD/

notebooks/02_postprocessing_plots_summary/motif_disruption_cohort_summary/
notebooks/02_postprocessing_plots_summary/motif_enrichment_cohort_summary/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_Intron6/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_Intron1/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_intron47/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_intron4/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_intron30/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_intron49/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_intron44/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_genomAD/
notebooks/02_postprocessing_plots_summary/plots_patients_cohort/
notebooks/02_postprocessing_plots_summary/motif_analysis.GseaPreranked.*/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_COL4A5_all_introns
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_COL4A4_all_introns
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM_COL4A3_all_introns

# Targeted RNA-seq BAM files and indexes
targeted_rnaseq/bams/
targeted_rnaseq/bams2/
*.bam
*.bam.bai

# FASTA files
notebooks/01_alphagenome_analysis/ISM/hg38.fa
notebooks/01_alphagenome_analysis/ISM/hg38.fa.fai

# RefSeq table
notebooks/01_alphagenome_analysis/ISM/ncbiRefSeq.txt

# Intron files
notebooks/01_alphagenome_analysis/ISM/*.bed
notebooks/01_alphagenome_analysis/ISM/*.tsv
notebooks/01_alphagenome_analysis/ISM/*.fa