# macOS
.DS_Store

# Local environment / package caches
.conda_pkgs/
.r_libs/
.virtual_documents/
.ipynb_checkpoints/

# Notebook-generated result folders
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5_intron6/
notebooks/01_alphagenome_analysis/alphagenome_ISM_COL4A5_intron47/
notebooks/01_alphagenome_analysis/alphagenome_intron6_cohort/
notebooks/01_alphagenome_analysis/alphagenome_intron6_genomAD/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_ISM/
notebooks/02_postprocessing_plots_summary/plots_alphagenome_genomAD/
notebooks/02_postprocessing_plots_summary/plots_patients_cohort/
notebooks/02_postprocessing_plots_summary/motif_analysis.GseaPreranked.*/

# Targeted RNA-seq BAM files and indexes
Targeted_rnaseq/bams/
*.bam
*.bam.bai